.box1 { background: #33ffdf; }
.box2 { background: #fc3e2d; }
.box3 { background: #2bff2e; }
.box4 { background: #dc00d5; }
.box5 { background: #feff43; }
.box6 { background: #296eff; }
.box7 { background: #e1affa; }
.box8 { background: #679aab; }
.box9 { background: #ed9221; }

.box {
	font-size: 100px;
	text-align: center;
	color: white;
	font-family: 'Fira Code', 'Arial';
	text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
}

.container	{
	border: 10px solid goldenrod;
	display: flex;
	justify-content: center;
}

.box {
	/* flex: 1; */
	flex-basis:  0px;
	flex-shrink: 10;
}

.box5{
	flex-shrink: 1;
	flex-grow: 10;
}